.about_us{
    height: 100vh;
    background-image: linear-gradient(180deg,black, transparent 20%, black), url(/bg.jpg);
}
.text-block{
    width: 800px;

}
.about-h1{
    font-weight: 700;
    font-size: 80px;
    color: white;
}
.about-h3{
    font-size: 45px;
    font-weight: 700;
    color:white;
}           
.about-p{
    font-size: 35px;
    font-weight: 700;
    color: white;
}
.relative{
    position: relative;
    height: 100%;
}
.absalut{
    position: absolute;
    bottom: 5em;
    left: 4em;
}