
#my-nav {
    position: fixed;
    top: 0;
}
html{
    scroll-behavior: smooth;
}
nav{
    z-index: 10;
    width: 100%;
}

.li-style {
    list-style: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
}
.li-style:hover {
    transform:scale(1.05);
    color:rgb(211, 47, 47)
}

.a-nav {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-flex {
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    margin: 0;
}
